<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.bioclipse.brunn.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="net.bioclipse.brunn.ui.explorer.Perspective"
            id="brunn.setup.explorer.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      
      <category id="net.bioclipse.brunn.category"
                name="Brunn" />
      
      <view
            name="Brunn Explorer"
            class="net.bioclipse.brunn.ui.explorer.View"
            id="brunn.setup.explorer.View"
            category="net.bioclipse.brunn.category" 
            icon="icons/brunn.gif" >
      </view>
   </extension>
  <extension
         point="org.eclipse.ui.editors">
      	<editor
            id="net.bioclipse.brunn.ui.editors.plateEditor.PlateMultiPageEditor"
            icon="icons/plate.gif"
            name="Plate Editor"
            class="net.bioclipse.brunn.ui.editors.plateEditor.PlateMultiPageEditor" />
     	<editor
            id="net.bioclipse.brunn.ui.editors.plateLayoutEditor.PlateLayoutEditor"
            icon="icons/plateLayout.gif"
            name="Plate Layout Editor"
            class="net.bioclipse.brunn.ui.editors.plateLayoutEditor.PlateLayoutEditor" />
     	<editor
            id="net.bioclipse.brunn.ui.editors.plateTypeEditor.PlateTypeEditor"
            icon="icons/plateType.gif"
            name="Plate Type Editor"
            class="net.bioclipse.brunn.ui.editors.plateTypeEditor.PlateTypeEditor" />
        <editor
            id="net.bioclipse.brunn.ui.editors.masterPlateEditor.MasterPlateMultiPageEditor"
            icon="icons/masterPlate.gif"
            name="Master Plate Editor"
            class="net.bioclipse.brunn.ui.editors.masterPlateEditor.MasterPlateMultiPageEditor" />
        <editor
            id="net.bioclipse.brunn.ui.editors.compoundEditor.CompoundEditor"
            icon="icons/compound.gif"
            name="Compound Editor"
            class="net.bioclipse.brunn.ui.editors.compoundEditor.CompoundEditor" />
        <editor
            id="net.bioclipse.brunn.ui.editors.cellTypeEditor.CellTypeEditor"
            icon="icons/cellLine.gif"
            name="Cell Type Editor"
            class="net.bioclipse.brunn.ui.editors.cellTypeEditor.CellTypeEditor" />
        <editor
            id="net.bioclipse.brunn.ui.editors.patientSampleEditor.PatientCellEditor"
            icon="icons/patientcell.gif"
            name="Patient Cell Editor"
            class="net.bioclipse.brunn.ui.editors.patientSampleEditor.PatientCellEditor" />
   </extension>
  <extension
	point="net.bioclipse.usermanager.accountType">
		<AccountType
			id="brunn.accounttype"
			name="BrunnAccountType">
		<property
		    name="Brunn user"
		    required="true" />
		<property
			name="Brunn password" 
			required="true" />
		<property
			name="URL"
			required="true" />
        <property
        	name="Database password"
        	required="true" />
        <property
            name="Database user"
            required="true" />
	    </AccountType>
  </extension>
  
  <extension
        point="org.eclipse.ui.cheatsheets.cheatSheetContent">

     <category
           id="net.bioclipse.brunn.ui.cheatsheets.category"
           name="Brunn Tutorials">
     </category>

     <cheatsheet
           category="net.bioclipse.brunn.ui.cheatsheets.category"
           composite="false"
           contentFile="cheatSheets/createPlatelayout.xml"
           id="net.bioclipse.brunn.ui.creatingPlateLayoutCheatsheet"
           name="Creating a Plate Layout">
     </cheatsheet>

     <cheatsheet
           category="net.bioclipse.brunn.ui.cheatsheets.category"
           composite="false"
           contentFile="cheatSheets/createMasterPlate.xml"
           id="net.bioclipse.brunn.ui.creatingMasterPlateCheatsheet"
           name="Creating a Master Plate">
     </cheatsheet>
     
  </extension>

</plugin>
